<!-- <div class="bodyContainer">
    <div class="container"> 
      <div class="row">  
        <div class="col-xs-12 content"> 
          <h2 >CURRENCY  TRACKER</h2>
          <div class="container ">
              
              <div class=" form-container" >
              <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()" #f="ngForm">
                 <div class="form-group">
                     <label >Please enter amount in USD :</label>
                      <input type="text" placeholder="Enter Amount" class="form-control" autocomplete="off" name="currency"
                        formControlName="currency" [(ngModel)]="currency" >
                        
                        <button  type="submit"  class="btn btn-success" >Search</button> <br>  
                 </div>
               </form>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   -->
