
.bodyContainer{
    padding:0 0% 20% 0%;
    margin:0 5% 0 0;
    background-color: hue($color: rgb(130, 195, 211));
    
    //background-image:linear-gradient(#04565e,#641a61) ;
    width:100%;
}
.cardsContainer1{
    background-color: #5f3e3ea4 ;
    margin:10% 10% 1% 25%;
    padding: 2%; 
    //background-image: linear-gradient(#da4453e3 ,#89216be5 );
    width:50%;
    height:50%;
    border-radius: 10px;
    align-items: center;
    border: 5px solid white;
    color:white;
    font-size: 15px;
    
}

.card-text{
    font-family:'Lobster', cursive;
}
.cardsContainer{
    background-image: linear-gradient(#da4453 ,#89216b );
    margin:2% 10% 2% 25%;
    padding: 2%;
   // background-color: hue($color: rgb(130, 195, 211));
    width:50%;
    height:50%;
    border-radius: 10px;
    align-items: center;
    border: 5px solid white;
    color:white;
    font-size: 15px;;
}
.card-img-top{
    width:50px; 
    margin-left:1%;
}
.card-title{
    font-size: 25px;
}
