<div class="row">
  <div class="col-xs-12">
<div class="container-fluid bodyContainer">
<!-- 
         <div class=" container "> -->
            <div class="row ">
                <div class="col-md-5 cardsContainer1">
                    <div class="card" >
                        <div class="card-body" *ngFor="let item of covidItems|async ">
                          <h5 class="card-title">Covid-19 <img class="card-img-top" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/237/microbe_1f9a0.png" alt="Card image cap" ></h5>
                          <p class="card-text">{{item.Detail}}</p>
                            <a href="/getInput" class="btn btn-primary">Get country details</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row ">
              <div class="col-xs-6 cardsContainer">
          <div class="card" >
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body" *ngFor="let item of currencyItems|async ">
                <h5 class="card-title"  > {{item.title}}<img class="card-img-top" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/money-with-wings_1f4b8.png" alt="Card image cap" ></h5>
                <p class="card-text">{{item.details}}</p>
                <a href="#" class="btn btn-primary">Get Currency details</a>
              </div>
            </div>
      </div>
      </div>
            <!-- <div class="row ">
                <div class="col-xs-6 cardsContainer">
            <div class="card" >
                // <img class="card-img-top" src="..." alt="Card image cap"> //
                <div class="card-body" *ngFor="let item of items|async ">
                  <h5 class="card-title"  > {{item.title}}<img class="card-img-top" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/emojidex/112/sun-behind-cloud_26c5.png" alt="Card image cap" ></h5>
                  <p class="card-text">{{item.details}}</p>
                  <a href="#" class="btn btn-primary">Get Weather Report</a>
                </div>
              </div>
        </div>
        </div> -->
        </div>
        
     <!-- </div> -->
 </div>
</div> 