<div class="row">
    <div class="col-xs-12">
        <div class="bodyContainer">
            <div class="row">
                <div class="col-md-6 cardsContainer1">
                    <div class="card" >
                        <!-- <img class="card-img-top" src="https://media.graytvinc.com/images/810*455/coronavirus+mgn.jpg" alt="Card image cap" > -->
                        <div class="card-body">
                          <h5 class="card-title">Covid-19 </h5>
                          <p class="card-text">Coronavirus disease pandemic (COVID-19)  is an infectious disease caused by a new virus.
                            The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. </p>
                          <a href="/getInput" class="btn btn-primary">Get country details</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 cardsContainer">
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        </div>
        </div>
        
    </div>
</div>
