@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;  

.fullContainer{
    margin: 5% 15%;
    width: 70%;
    background-color:rgb(231, 221, 231);
    background-color: hue($color: rgb(130, 195, 211));
  
    
}
strong{
    color:rgb(32, 73, 85);
    padding:5%;
}
table{
    margin:5% 10% 2% 10%;
    width: 50%;
    
}
table,td {
    border: 2px solid rgb(149, 190, 202);
  }
td{
  padding:2% 0;
  font-family: $roboto-slab;
  }
 
  h2{text-align: center;
    margin-top: 5%;
    padding-top: 2%;
    color: rgb(32, 73, 85);
   
}
.btn-danger{
    margin:0% 10% 5%;
}
