//@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;  
$im-fell-french-canon-sc: 'IM Fell French Canon SC', serif;
.fullContainer{
    margin: 5% 15%;
    width: 70%;
    //background-color:rgb(248, 242, 248);
    background-color: rgb(240, 236, 228);
    background-color: hue($color: rgb(130, 195, 211));
  
    
}
strong{
    color:rgb(32, 73, 85);
    padding:5%;
}
table{
    margin:5% 10% 2% 10%;
    width: 50%;
    
}
table,td {
    
    border: 2px solid rgb(151, 89, 151);
  }
td,th{
  padding:2% 1%;
  
  color: rgb(76, 1, 99);
  font-size: 15px;
  }
 
  h2{
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
    color: rgb(32, 73, 85);
    font-size: 40px;
    font-family:$im-fell-french-canon-sc;
    font-weight: 600;
   
}
.btn-danger{
    margin:0% 10% 5%;
}
