    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap|Roboto+Slab|Open+Sans:400italic,700italic,400,700"> 
<div class="container fullContainer">
    <div class="row">
        <div class="col-md-12">
            <h2>List of Countries and total cases</h2>
            <table>
            <tr>
                <th>Country Name</th>
                <th>Total Cases</th>
            </tr>
                <tr *ngFor="let data of datas$">
                   <td><strong><a href="/display/{{data.country}}">{{data.country}}</a></strong></td>
                   <td class="cases"><a href="/display/{{data.country}}">{{data.cases}}</a> </td>
                </tr>
            </table>
            <button class="btn btn-danger" routerLink="/" >Cancel</button>
        
        </div>
    </div>
</div>
