//@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;  
$im-fell-french-canon-sc: 'IM Fell French Canon SC', serif;
.fullContainer{
    margin: 5% 10%;
    width: 80%;
    background-color: rgb(224, 200, 200);  
}
strong{
    color:rgb(32, 73, 85);
}
table{
   
    margin:5% 10% 2% 10%;
    width: 80%;  
}
table,td {
    background-color: rgba(255, 255, 255, 0.295);
    //border: 3px solid rgba(121, 115, 121, 0.658);
  }
  
td,th{
  padding:2% 10% 2% 25%;
  font-size: 15px;
  text-align: justify;
  }

  th{
      background-color: rgba(59, 59, 59, 0.459);
      color: rgb(255, 255, 255);
     
  }
 
  h2{
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
    color: rgb(32, 73, 85);
    font-size: 40px;
    font-family:$im-fell-french-canon-sc;
    font-weight: 600;
   
}
.btn-danger{
    margin:0% 50% 5%;
}
