<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Covid Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/getInput">Search Country</a></li>
      <li><a href="/countryList">Country List</a></li>
      <!-- <li><a href="/inputCurrency">Search Currency</a></li> -->
      <!-- <li><a href="/displayCurrency">Currency List</a></li> -->
      <li><a href="#"></a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>