
.container{

    margin-right: 2%;
    background-image: url(https://www.publicradiotulsa.org/sites/kwgs/files/202003/covid19_with_text.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    
}