//@import url(http://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap|Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;  
$im-fell-french-canon-sc: 'IM Fell French Canon SC', serif;

.form-container,button{
    margin-top:1%; 
    align-items: center;
}
.form-container{
    width:100%;
}
.list{
    
    color: lightseagreen;
    background-color: lightseagreen;
    
}
.dropdown-toggle{
    color:white;
    background-color: lightseagreen;
}
.caret{
 margin-left: 2%;
}
h2{
    text-align: center;
    margin: 10% 0 2% 0;
    
    color: rgb(32, 73, 85);
   // font-family:"Georgia, serif";
   font-family:$im-fell-french-canon-sc;
    font-weight: bolder;
    font-size:45px;
}
.help{
    color:red;
    margin-top:10px;
    font-weight: bold;
}
.bodyContainer{
    
    background-image: url(https://www.publicradiotulsa.org/sites/kwgs/files/styles/medium/public/202003/covid19_with_text.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
input{
    width:50%;
}
label{
    margin:5px;
    color:black;
    font-family:$open-sans;
}
.dropdown-menu{
    height:250px;
    overflow:scroll;
}
button{
    margin-top:1%;
}
//newly added
.content{
    background-color: #FFDAB9F1;
    margin:10% 5% 10% 5%;
    padding:0 2% 10% 5%;
    width: 80%;
}