.form-container,button{
    margin-top:1%; 
    align-items: center;
}
.list{
    margin-top: 1%;
    color: lightseagreen;
    background-color: lightseagreen;
}
.dropdown-toggle{
    color:white;
    background-color: lightseagreen;
}
.caret{
 margin-left: 2%;
}