<div class="bodyContainer">
<h2 >COVID  TRACKER</h2>
<div class="container ">
    
    <div class=" form-container" >
    <form [formGroup]="diseaseForm" (ngSubmit)="onSubmit(country)" #f="ngForm">
       <div class="form-group">
           <label >Please enter country name or select from dropdown :</label>
            <input type="text" placeholder="Enter details" class="form-control" autocomplete="off" name="countryName"
              formControlName="country" [(ngModel)]="countryName" >
              <p class="help" *ngIf="nameLettersCount() && diseaseForm.controls['country'].touched">Please enter atleast three letters</p>
               <!-- <p class="help" *ngIf="!inList && nameLettersCount()&& diseaseForm.controls['country'].touched"> Not in List</p> -->
              <button  type="submit" routerLink="/display/{{countryName}}" class="btn btn-success" [disabled]="nameLettersCount()">Search</button> <br>  
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-2">
            <div class="btn  list"  >
              <li class="dropdown "  appDropdown>
                  <a  class="dropdown-toggle" role="button">Country List <span class="caret"></span></a>
                  <ul class="dropdown-menu" >
                    <li *ngFor="let data of datas$" ><a href="/display/{{data.country}}">{{data.country}}</a></li>
                  </ul>
              </li>
            </div>
         </div>
         <div class="col-md-2">
          <button class="btn btn-primary" type="button" routerLink="/countryList">All Country List</button>
        </div> 
              
          </div>
          
          </div>
         
     </form>
   </div>
  </div>
</div>


