
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$covidtracker-primary: mat-palette($mat-indigo);
$covidtracker-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$covidtracker-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$covidtracker-theme: mat-light-theme($covidtracker-primary, $covidtracker-accent, $covidtracker-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($covidtracker-theme);

/* You can add global styles to this file, and also import other style files */
//@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
body{
   
   //background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-image: linear-gradient(to bottom, #130500, #930031);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
