$im-fell-french-canon-sc: 'IM Fell French Canon SC', serif;
.side{
    color: purple;
    margin:5%;
    
}
.secondContainer{
    margin:5% 5%;
    align-items: center;
    border-color: maroon;
}
h2{
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
    color: rgb(32, 85, 32);
    font-family: $im-fell-french-canon-sc;
    font-weight: bold;
    font-size: 35px;
}

.detailCol{
    margin-left: 5%;
    text-align: center;
    padding-left: 15%;
}
img{
    align-items: center;
    width: 15%;
}
.bodycontainer{
    background-image: url(https://img.etimg.com/photo/msid-74776292/coronavirus1_istock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   width:100%;
    
}
.fullContainer{
    margin: 5% 0;
    width: 100%;
    background-color:rgb(231, 221, 231);
    background-color: hue($color: rgb(130, 195, 211));
  
    
}
table{
    margin-bottom: 5%;
}
.btn-primary{
    margin-bottom: 2%;
}