<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap|Roboto+Slab|Open+Sans:400italic,700italic,400,700"> 

<div class="container-fluid bodycontainer">
    <div class="row">
        <div class="col-md-5">
            <div class="container fullContainer">
                <h2>{{ datas$.country }} <img src="{{(datas$.countryInfo).flag}}" alt=""> </h2>
                <div class="container secondContainer" >
                  <div class="row">
                    <div class="col-x2-12">
                        
                      <form > 
                        <table>
                       <tr>
                           <td><h4> <strong class="side">Country name: </strong></h4></td>
                            <td class="detailCol"><h4>{{ datas$.country }}</h4></td>
                        </tr> 
                        <tr>
                            <td><h4> <strong class="side">Total Cases: </strong></h4></td>
                             <td class="detailCol"><h4>{{ datas$.cases }}</h4></td>
                         </tr> 
                         <tr>
                            <td><h4> <strong class="side">Today Cases: </strong></h4></td>
                             <td class="detailCol"><h4>{{ datas$.todayCases }}</h4></td>
                         </tr>
                         <tr>
                            <td><h4> <strong class="side">Deaths: </strong></h4></td>
                             <td class="detailCol"> <h4>{{ datas$.deaths }}</h4></td>
                         </tr> 
                         <tr>
                            <td><h4> <strong class="side">Today Deaths: </strong></h4></td>
                             <td class="detailCol"><h4>{{ datas$.todayDeaths }}</h4></td>
                         </tr> 
                         <tr>
                            <td><h4> <strong class="side">Recovered :</strong></h4></td>
                             <td class="detailCol"><h4>{{ datas$.recovered }}</h4></td>
                         </tr> 
                         <tr>
                            <td><h4> <strong class="side">Active: </strong></h4></td>
                             <td class="detailCol"><h4>{{ datas$.active }}</h4></td>
                         </tr> 
                         <tr>
                            <td><h4> <strong class="side">Critical: </strong></h4></td>
                             <td class="detailCol"><h4>{{ datas$.critical }}</h4></td>
                         </tr> 
                         <tr>
                            <td><h4> <strong class="side">CasesPerOneMillion: </strong></h4></td>
                             <td class="detailCol"><h4>{{ datas$.casesPerOneMillion }}</h4></td>
                         </tr> 
                         <tr>
                            <td><h4> <strong class="side">DeathsPerOneMillion  </strong></h4></td>
                             <td class="detailCol"><h4> {{ datas$.deathsPerOneMillion }}</h4></td>
                         </tr> 
                        </table>    
                   
                         <div class="row">
                               <div class="col-md-2">
                                <button class="btn btn-primary" type="button" routerLink="/countryList">All countries List</button>
                               </div>
                                <div class="col-md-2">
                                 <button class="btn btn-danger" type="button"  routerLink="/getInput" >Back</button>
                                </div>
                                
                            </div>
                    
                        </form> 
                    </div>
                  </div>
                </div>
                </div>
                </div>
        </div>
    </div>


