//@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;  
$im-fell-french-canon-sc: 'IM Fell French Canon SC', serif;
$Comic-Neue:'Comic Neue', cursive;
.fullContainer{
    margin: 5% 15%;
    width: 70%;
}
strong{
    color:rgb(32, 73, 85);
    padding:5%;
}
.table{
    border: 3px solid rgb(245, 242, 245);
  }
td{
  padding:2% 5%;
  color:white;
  border: 0.2px solid rgba(245, 242, 245,0.2);
  font-size: 15px;
  background-color: #c33764  ;
  }
.heading{
    color:white;
    font-size: 20px;
    align-items: center;
    background-color: #9b2a2aa8;
    padding:2% 5% 2% 10%;
    
}
  h2{
    text-align: center;
    color:rgba(255, 255, 255, 0.993);
    font-size: 250%;
    font-family:$Comic-Neue;
    font-weight: 400;
    padding-bottom: 2%;
   
}
.btn-danger{
    margin:2% 35% 5% ;
    width:40%;
}
