
<div class="container fullContainer">
    <div class="row">
        <div class="col-md-12 ">
            
            <h2 >List of Currencies and their current value for 1 INR  </h2> 
    
                    <table class="table">
                        <tr class="heading">
                            <th class="heading">Country</th>
                            <th class="heading">Rate</th>
                        </tr>
                        <!-- <tr>
                            <td>United States Dollar</td>
                            <td>1</td>
                        </tr> -->

                        <tr *ngFor="let data of currencySymbol">
                        <td >
                            {{datas$["currencies"][data]}}
                        </td>
                        <td>
                            {{rate$["rates"][data]}}
                        </td>
                        </tr>
                        
                        <!-- <tr> <td >{{(datas$.currencies).INR}}</td><td>{{rate$.rates.INR}}</td></tr>
                        <tr> <td >{{(datas$.currencies).CAD}}</td><td>{{rate$.rates.CAD}}</td></tr>
                        <tr> <td >{{(datas$.currencies).HKD}}</td><td>{{rate$.rates.HKD}}</td></tr>
                        <tr> <td >{{(datas$.currencies).ISK}}</td><td>{{rate$.rates.ISK}}</td></tr>
                        <tr> <td >{{(datas$.currencies).PHP}}</td><td>{{rate$.rates.PHP}}</td></tr>
                        <tr> <td >{{(datas$.currencies).DKK}}</td><td>{{rate$.rates.DKK}}</td></tr>
                        <tr> <td >{{(datas$.currencies).HUF}}</td><td>{{rate$.rates.HUF}}</td></tr>
                        <tr> <td >{{(datas$.currencies).CZK}}</td><td>{{rate$.rates.CZK}}</td></tr>
                        <tr> <td >{{(datas$.currencies).GBP}}</td><td>{{rate$.rates.GBP}}</td></tr>
                        <tr> <td >{{(datas$.currencies).RON}}</td><td>{{rate$.rates.RON}}</td></tr>
                        <tr> <td >{{(datas$.currencies).SEK}}</td><td>{{rate$.rates.SEK}}</td></tr>
                        <tr> <td >{{(datas$.currencies).IDR}}</td><td>{{rate$.rates.IDR}}</td></tr>
                        <tr> <td >{{(datas$.currencies).BRL}}</td><td>{{rate$.rates.BRL}}</td></tr>
                        <tr> <td >{{(datas$.currencies).RUB}}</td><td>{{rate$.rates.RUB}}</td></tr>
                        <tr> <td >{{(datas$.currencies).HRK}}</td><td>{{rate$.rates.HRK}}</td></tr>
                        <tr> <td >{{(datas$.currencies).JPY}}</td><td>{{rate$.rates.JPY}}</td></tr>
                        <tr> <td >{{(datas$.currencies).THB}}</td><td>{{rate$.rates.THB}}</td></tr>
                        <tr> <td >{{(datas$.currencies).CHF}}</td><td>{{rate$.rates.CHF}}</td></tr>
                        <tr> <td >{{(datas$.currencies).EUR}}</td><td>{{rate$.rates.EUR}}</td></tr>
                        <tr> <td >{{(datas$.currencies).MYR}}</td><td>{{rate$.rates.MYR}}</td></tr>
                        <tr> <td >{{(datas$.currencies).BGN}}</td><td>{{rate$.rates.BGN}}</td></tr>
                        <tr> <td >{{(datas$.currencies).TRY}}</td><td>{{rate$.rates.TRY}}</td></tr>
                        <tr> <td >{{(datas$.currencies).CNY}}</td><td>{{rate$.rates.CNY}}</td></tr>
                        <tr> <td >{{(datas$.currencies).NOK}}</td><td>{{rate$.rates.NOK}}</td></tr>
                        <tr> <td >{{(datas$.currencies).NZD}}</td><td>{{rate$.rates.NZD}}</td></tr>
                        <tr> <td >{{(datas$.currencies).ZAR}}</td><td>{{rate$.rates.ZAR}}</td></tr>
                        <tr> <td >{{(datas$.currencies).USD}}</td><td>{{rate$.rates.USD}}</td></tr>
                        <tr> <td >{{(datas$.currencies).MXN}}</td><td>{{rate$.rates.MXN}}</td></tr>
                        <tr> <td >{{(datas$.currencies).SGD}}</td><td>{{rate$.rates.SGD}}</td></tr>
                        <tr> <td >{{(datas$.currencies).AUD}}</td><td>{{rate$.rates.AUD}}</td></tr>
                        <tr> <td >{{(datas$.currencies).ILS}}</td><td>{{rate$.rates.ILS}}</td></tr>
                        <tr> <td >{{(datas$.currencies).KRW}}</td><td>{{rate$.rates.KRW}}</td></tr>
                        <tr> <td >{{(datas$.currencies).PLN}}</td><td>{{rate$.rates.PLN}}</td></tr> -->
                     
                    </table>
            <button class="btn btn-danger " data-micron="pop"  routerLink="/" >Cancel</button>
        
        </div>
    </div>
</div>